*{
    padding: 0;
    margin: 0;
    background-color: black;
}

#gametitle {
    width: 500px;
    height: 250px;
    font-size: 100px;
    position: relative;
    top: 250px;
    left: 450px;
    display: center;
    color: gold;
}
#online {
    width: 300px;
    height: 150px;
    color: gold;
    font-size: 55px;
    position: relative;
    top: 110px;
    left: 800px;
}

#vscpu {
    color: gold;
    font-size: 35px;
    position: relative;
    top: 200px;
    left: 375px;
    border: 3px 3px gold;

}

#vsuser {
    color: gold;
    font-size: 35px;
    position: relative;
    top: 200px;
    left: 525px;
    border: 3px 3px gold;

}

td {
    background-color: #ba7A3A;
    width: 65px;
    height: 65px;
    text-align: center;
}

.nopiece {
    background-color: #f0d2b4;
}

.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}

.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px; 
}

.red-turn {
    background-color: red;
    text-size-adjust: large;
    width: 540px;
}

.black-turn {
    background-color: red;
    text-size-adjust: large;
    width: 540px;
}